*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dflex{
  display: flex;
}

.debug{
  background-color: pink;
  border: 1px solid black;
}

.rel{
  position: relative;
}

.absol{
  position: absolute;
}

.containerhead{
  padding: 0 20px;
  width: 1600;
  margin: 0 auto;
}

.container{
  padding: 0 20px;
  width: 1100;
  margin: 0 auto;
}

/* Header */

.headertot{  
  width: 100%;
}

.headertop{
  position: fixed;
  background-color: white; 
  height: 60px;
  width: 100%;
  z-index: 999;  
}

.headright{
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding-left: 10px;
}

.headright .logo{
  margin-left: 20px;
  margin-right: 30px;
}

.headleft{
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.headleft .inizia{
  text-decoration: none;
  background-color: rgb(0, 97, 255);
  padding: 8px 10px;  
  color: white;
}

.headnav{  
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}

.headnav a{
  text-decoration: none;
  color: black;
}

.headnav:hover .but{  
}

.headnav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.inizia{
  margin-left: 20px;
}

.jumbotron{
  background-color: rgb(180, 208, 231);
  padding-top: 60px;
  flex-wrap: wrap;
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;  
}

.contjumb{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
}

.titolo{
  font-size: 2.3rem; 
  margin-top: 25px;
  margin-bottom: 30px;   
} 

.text{   
  width: 30%;  
  flex-direction: column;
  flex-wrap: nowrap;   
}

.text .inizbut{
  border: 1px solid rgb(0, 97, 255);
  background-color: rgb(0, 97, 255);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
  text-align: center;
  padding: 5px 8px;
}

.inizbut a{
  color: white;
  text-decoration: none;
}

.text .arrow{
  bottom: 100;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

.colimg{
  width: 70%;
}

.colimg img{
  width: 100%;
}

/* /Header */

.piani{
  margin-top: 100px;
}


.titolocard ul li{
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titolocard h2{
  font-size: 2rem;
}


.gallery{ 
  flex-wrap: wrap;    
}

.titolocard{
  width: 100%;
}

.gallery .cards{  
  width: 33%;
  /* margin-left: 20px; */
  flex-direction: column;   
  border: 1px solid lightgray;
  padding: 20px; 
  margin: 20px; 
}

.gallery .cards .singolo{ 
 border-bottom: 1px solid lightgray; 
 text-align: center; 
 padding: 8px;
 margin-bottom: 30px;
}

.gallery .cards::after .singolo{
  padding: 20px;
} 

.gallery .cards ul{
  list-style: none;
}

.cards .titolpunti{
  border-top: 1px solid lightgray;
  width: 40%;
  margin-top: 20px;
  padding-top: 30px;  
}

.lastcard{
  justify-content: flex-end;
}

.trybutt{
  border:1px solid rgb(0, 97, 255);
}