*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dflex{
  display: flex;
}

.debug{
  background-color: pink;
  border: 1px solid black;
}

.rel{
  position: relative;
}

.absol{
  position: absolute;
}

.containerhead{
  padding: 0 20px;
  width: 1600;
  margin: 0 auto;
}

.container{
  padding: 0 20px;
  width: 1100;
  margin: 0 auto;
}

/* Header */

.headertot{  
  width: 100%;
}

.headertop{
  position: fixed;
  background-color: white; 
  height: 60px;
  width: 100%;
  z-index: 999;  
}

.headright{
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding-left: 10px;
}

.headright .logo{
  margin-left: 20px;
  margin-right: 30px;
}

.headleft{
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.headleft .inizia{
  text-decoration: none;
  background-color: rgb(0, 97, 255);
  padding: 8px 10px;  
  color: white;
}

.headnav{  
  justify-content: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}

.headnav a{
  text-decoration: none;
  color: black;
}

.headnav:hover .but{  
}

.headnav ul li{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.inizia{
  margin-left: 20px;
}

.jumbotron{
  background-color: rgb(180, 208, 231);
  padding-top: 60px;
  flex-wrap: wrap;
  height: 800px;
  width: 100%;
  justify-content: center;
  align-items: center;  
}

.contjumb{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 0 auto;
}

.titolo{
  font-size: 2.3rem; 
  margin-top: 25px;
  margin-bottom: 30px;   
} 

.text{   
  width: 30%;  
  flex-direction: column;
  flex-wrap: nowrap;   
}

.text .inizbut{
  border: 1px solid rgb(0, 97, 255);
  background-color: rgb(0, 97, 255);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50%;
  text-align: center;
  padding: 5px 8px;
}

.inizbut a{
  color: white;
  text-decoration: none;
}

.text .arrow{
  bottom: 100;
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

.colimg{
  width: 70%;
}

.colimg img{
  width: 100%;
}

/* /Header */

.piani{
  margin-top: 100px;
}

.titolocard ul li{
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titolocard h2{
  font-size: 2rem;
}


.gallery{ 
  flex-wrap: wrap;
  justify-content: space-between;    
}

.titolocard{
  width: 100%;
}

.gallery .cards{  
  width: 33%;  
  flex-direction: column;   
  border: 1px solid lightgray;        
}

.contenuto{
  padding: 20px;  
}

.cards .contenuto .prezzo{
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.periodo{
  margin-top: 20px;
  margin-bottom: 30px;
}

.gallery .cards .singolo{ 
 border-bottom: 1px solid lightgray; 
 text-align: center; 
 padding: 8px;
 margin-bottom: 30px;
}

.gallery .cards ul li{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divisore{
  border-bottom: 1px solid lightgray;
  width: 20%;
  margin-left: 20px;  
}

.trybutt{    
  display: inline-block;
  background-color: rgb(0, 97, 255);
  text-decoration: none;
  text-align: center; 
  color: white;
  padding: 8px; 
  width: 65%;
  margin-top: 40px;
  margin-bottom: 20px;    
}

.list-icon::before{
  position: absolute;
  left: -15px;
  font-family: "FontAwesome";
  font-weight: 900;
  margin-right: 5px;  
}

.list-icon{
  position: relative;
}

.check{
  margin-left: 15px;
}

.symbol{
  margin-left: 15px;
}

.check li::before{  
  content: "\f00c";
  color: blue;
}

.symbol .user::before{
  content: "\f007";
}

.symbol .folder::before{
  content: "\f07b";
}

.symbol .share::before{
  content: "\f1e0";
}

.symbol .multi-user::before{
  content: "\f0c0";
}

.buybutt{
  margin-bottom: 30px;
}

.buybutt a{
  color: rgb(0, 97, 255);
}

.titolpunti{
  border-top: 1px solid lightgray;  
  font-weight: bold;
  padding-top: 20px;
}

.gallery .lastcard{
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 50px;
}


.gallery .lastcard .singolo{
 border-bottom: 1px solid lightgray; 
 text-align: center; 
 padding: 8px;
 margin-bottom: 30px;
}

.cardint{justify-content: space-between;
  padding: 30px;
}

.cardint p{
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.cardint span{
  margin-top: 20px;
}

.cardint a{
  display: inline-block;
  background-color: rgb(0, 97, 255);
  text-decoration: none;
  text-align: center; 
  color: white;
  padding: 8px;  
}


.Contatti{
  margin-top: 100px;
}

.colsin img{
  width: 100%;
}

.colsin{
  width: 60%;  
}

.coldes{
 width: 40%;
 text-align: start;
 flex-direction: column; 
 align-self: center; 
 padding: 30px;
}

.coldes h3{
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.coldes span{
  margin-top: 60px;
}

.coldes a{  
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  color: black; 
}



